#heading{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-style: normal;
    
 
}
@media(max-width:800px){
img{
    float: none;
    width: 50%;

}
}
body{
    background-color:lightgray;
   
}
header{
    background-color: rgba(110, 50, 100, 1.6);
    position: fixed;
     width:100%;
   top:0;

}
nav>ul>li{
    display:inline-block;
    padding:10px 3px;
    font-size:30px;
    margin:5px;
    float: right;
}
nav>ul>li>a{
    color:black ;
    text-decoration:none;
}
nav>ul>li:hover{
    background-color:lightgray;
    border-radius: 100%;


}

img{
    float:left;
    margin:1.66%;
    width:30%;
    height:300px ;

}
#clear{
    clear:left;
}

