body{
    background-color:lightgray;
    
}
header{
    background-color: rgba(110, 50, 100, 1.6);
    position: fixed;
   width:100%;
   top:0;
}
nav>ul>li{
    display:inline-block;
    padding:6px 3px;
    font-size:30px;
    margin:5px;
    float: right;
}
nav>ul>li>a{
    text-decoration:none;
    color:black ;
}
nav>ul>li:hover{
    background-color:lightgray;
    border-radius: 100%;


}
.h1{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top:8%;
}
table{
    /* border: 1px solid black; */
    float: left;
    margin: 30px;
    margin-top: 50px;
    border-collapse: collapse;
    
}

#blackLarge{
    background-color: black;
    height: 30px;
    width: 120px;
   
}
#black1{
    background-color: black;
    height: 30px;
    width: 30px;
   
}
#redLarge{
    background-color: red;
    height: 30px;
    width: 120px;
}
#orange{
    background-color: orange;
    height: 30px;
    width: 45px;
}
#yellowLarge{
    background-color: yellow;
    height: 30px;
    width: 120px;
}
#green{
    background-color: green;
    height: 30px;
    width: 25px;
}
#greenMedium{
    background-color: green;
    height: 30px;
    width: 45px;
}
#greenLarge{
    background-color: green;
    height: 30px;
    width: 60px;

}
#white{
    background-color: white;
    height: 30px;
    width: 45px;
}
#whiteLarge{
    background-color: white;
    height: 30px;
    width: 60px;
}
#white1{
    background-color: white;
    height: 5px;
    width: 5px;
}
#white2{
    background-color: white;
    height: 2px;
    width: 2px;
}
#red1{
    background-color: red;
    height: 30px;
    width: 35px;
}
#red2{
    background-color: red;
    height: 30px;
    width: 50px;
}
#redMedium{
    background-color: red;
    height: 30px;
    width: 100px;
}
#blue{
    background-color: blue;
    height: 30px;
    width: 80px;
}
#blueMedium{
    background-color: blue;
    height: 30px;
    width: 100px;
}
#blueLarge{
    background-color: blue;
    height: 30px;
    width: 120px;
}
#blue1{
    background-color: blue;
    height: 30px;
    width: 25px;

}
#lightblue{
    background-color: lightblue;
    height: 30px;
    width: 80px;
}

#yellow1{
    background-color: yellow;
    height: 5px;
    width: 5px;
}
#yellowMedium{
    background-color: yellow;
    height: 30px;
    width: 45px;
}
h1{
    text-align: center;
}
.names{
    column-span:"3";

    
}


