body{
    background-color:lightgray;
    
}
header{
    background-color: rgba(110, 50, 100, 1.6);
    position: fixed;
   width:100%;
   top:0;
}
nav>ul>li{
    display:inline-block;
    padding:6px 3px;
    font-size:30px;
    margin:5px;
    float: right;
}
nav>ul>li>a{
    text-decoration:none;
    color:black ;
}
nav>ul>li:hover{
    background-color:#ffffff;


}
.h1{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top:8%;
}
table{
    /* border: 1px solid black; */
    float: left;
    margin: 30px;
    margin-top: 50px;
    
}

#black{
    background-color: black;
    height: 30px;
    width: 80px;
   
}
#black1{
    background-color: black;
    height: 30px;
    width: 40px;
   
}
#red{
    background-color: red;
    height: 30px;
    width: 80px;
}
#orange{
    background-color: orange;
    height: 30px;
    width: 25px;
}
#yellow{
    background-color: yellow;
    height: 30px;
    width: 40px;
}
#green{
    background-color: green;
    height: 30px;
    width: 25px;
}
#white{
    background-color: white;
    height: 30px;
    width: 25px;
}
#white1{
    background-color: white;
    height: 5px;
    width: 5px;
}
#white2{
    background-color: white;
    height: 2px;
    width: 2px;
}
#red1{
    background-color: red;
    height: 30px;
    width: 25px;
}
#blue{
    background-color: blue;
    height: 30px;
    width: 80px;
}
#blue1{
    background-color: blue;
    height: 30px;
    width: 25px;

}
#lightblue{
    background-color: lightblue;
    height: 30px;
    width: 80px;
}

#yellow1{
    background-color: yellow;
    height: 5px;
    width: 5px;
}
h1{
    text-align: center;
}
.names{
    
}


