* {
    box-sizing: border-box;
  }
  body{
    background-color:lightgray;
    
}

  .flags,
  
  li,
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  li,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  li {
    margin: 0.5em;
    padding: 0.5em 1em;
   
  }
  .flags,
  li {
    flex-direction: column;
  }
  .text {
    width: 900px;
  }
  .flag {
    width: 180px;
    height: 120px;
    overflow: hidden;
   
  }
  h1 {
    font-weight: 400;
    color: #639;
    font-size: 2em;
    text-align: center;
  }
  h2 {
    font-size: 0.75em;
    color: #d3d3d3;
  }
  h2,
  h3 {
    font-weight: 700;
  }
  h3 {
    text-align: center;
    font-size: 0.65em;
    text-transform: uppercase;
  }
  a,
  h3 {
    color: #708090;
  }
  a {
    font-size: 1em;
  }
  
 
  .armenia {
    background: linear-gradient(
      180deg,
      #d90012,
      #d90011 33.33333%,
      #0033a0 33.33333%,
      #0033a0 66.66667%,
      #f2a800 66.66667%,
      #f2a800
    );
  }
  .austria {
    background: linear-gradient(
      180deg,
      #ed2939,
      #ed2939 33.33333%,
      #fff 33.33333%,
      #fff 66.66667%,
      #ed2939 66.66667%,
      #ed2939
    );
  }
  
 
 
 
  
  .belgium {
    background: linear-gradient(
      90deg,
      #000,
      #000 33.33333%,
      #fae042 33.33333%,
      #fae042 66.66667%,
      #ed2939 66.66667%,
      #ed2939
    );
  }
  .benin {
    background: linear-gradient(
        90deg,
        #008751,
        #008751 40%,
        transparent 0,
        transparent
      ),
      linear-gradient(180deg, #fcd116, #fcd116 50%, #e8112d 0, #e8112d);
  }
  .bolivia {
    background: linear-gradient(
      180deg,
      #d52b1e,
      #d52b1e 33.33333%,
      #ffe000 33.33333%,
      #ffe000 66.66667%,
      #007934 66.66667%,
      #007934
    );
  }
  .botswana {
    background: linear-gradient(
      0deg,
      #75aadb,
      #75aadb 35%,
      #fff 0,
      #fff 40%,
      #000 0,
      #000 60%,
      #fff 0,
      #fff 65%,
      #75aadb 0,
      #75aadb
    );
  }
  
  .bulgaria {
    background: linear-gradient(
      180deg,
      #fff,
      #fff 33.33333%,
      #00966e 33.33333%,
      #00966e 66.66667%,
      #d62612 66.66667%,
      #d62612
    );
  }
  .chad {
    background: linear-gradient(
      90deg,
      #002664,
      #002664 33.33333%,
      #fecb00 33.33333%,
      #fecb00 66.66667%,
      #c60c30 66.66667%,
      #c60c30
    );
  }
  .denmark {
    background: linear-gradient(
        180deg,
        transparent 40%,
        #fff 0,
        #fff 55%,
        transparent 0,
        transparent
      ),
      linear-gradient(
        90deg,
        transparent 30%,
        #fff 0,
        #fff 40%,
        transparent 0,
        transparent
      ),
      #c60c30;
  }
  .gabon {
    background: linear-gradient(
      180deg,
      #009e60 33.33333%,
      #fcd116 33.33333%,
      #fcd116 66.66667%,
      #3a75c4 66.66667%
    );
  }
  .germany {
    background: linear-gradient(
      180deg,
      #000 33.33333%,
      #d00 33.33333%,
      #d00 66.66667%,
      #ffce00 66.66667%
    );
  }
  .guinea {
    background: linear-gradient(
      90deg,
      #ce1126 33.33333%,
      #fcd116 33.33333%,
      #fcd116 66.66667%,
      #009460 66.66667%
    );
  }
  .mali {
    background: linear-gradient(
      90deg,
      #14b53a 33.33333%,
      #fcd116 33.33333%,
      #fcd116 66.66667%,
      #ce1126 66.66667%
    );
  }
  .nigeria {
    background: linear-gradient(
      90deg,
      #008751 33.33333%,
      #fff 33.33333%,
      #fff 66.66667%,
      #008751 66.66667%
    );
  }
  .uae {
    background: linear-gradient(90deg, red 30%, transparent 0),
      linear-gradient(
        180deg,
        #00732f 33.33333%,
        #fff 33.33333%,
        #fff 66.66667%,
        #000 66.66667%
      );
  }
  .yemen {
    background: linear-gradient(
      180deg,
      #ce1126 33.33333%,
      #fff 33.33333%,
      #fff 66.66667%,
      #000 66.66667%
    );
  }





 