*{
    margin:0;
    padding:0;
}
/* table>form {
    border: 2px solid black;


} */
table>td:nth-of-type(1){
    padding-top: 30px;
}
body{
    background-color:lightgray;
    /* border:solid 10px lightgray; */
    margin:10px auto;
}
header{
    background-color: rgba(110, 50, 100, 1.6);
    position: fixed;
   width:100%;
   top:0;
}
section{
    margin:100px;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px 30px;
     border:solid 1px darkgray;
    
}
article{
    line-height: 25px;
    text-align: justify;
font-size:15px;
}
.title{
    font-size:23px;
    font-weight: bold;
}
.date{
    text-transform: uppercase;
    font-style: italic;
    font-size: 15px;
}
nav>ul>li{
    display:inline-block;
    padding:10px 3px;
    font-size:30px;
    margin:5px;
    float: right;
}
nav>ul>li>a{
    text-decoration:none;
    color:black ;
}
nav>ul>li:hover{
    background-color:#ffffff;


}
img{
    margin-top: 80px;
    width:200px;
    height:200px;
    border-radius:100%;
    float:left;
    margin-right:100px;
    margin-left: 100px;
}
#clear{
    clear:left;
}
#blogTitle{
    text-align: center;
    border: transparent;
    font-size: 40px;

}
#homeinfo{
    margin-top: 80px;
    padding-top: 70px;
}
#name{
    padding-top: 70px;
    margin-left: 50px;


}
h1{
    text-align: center;
}
.border{
    border-bottom:  2px solid gray;
}
.indexLists{
    margin-left: 50px;
    padding: 20px;
    
}
.links{
    font-size:25px ;
    display: inline;
    float: left;
    color: black;
    
}
